{% extends 'base.html.twig' %}

{% block title %}Hello AbonnementController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-around mt-3 w-100">
                <div class="card "
                     style="width: 30%; align-items: center;margin-bottom: 10px; text-decoration: none; color: black">
                    <h2>Pack 10 castings</h2>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <p class="card-text">
                            <button class="btn btn-outline-success">Acheter pour afficher vos offres !</button>

                        </p>

                    </div>
                </div>
                <div class="card "
                     style="width: 30%; align-items: center;margin-bottom: 10px; text-decoration: none; color: black">
                    <h2>Pack 100 castings</h2>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <p class="card-text">
                            <button class="btn btn-outline-success">Acheter pour afficher vos offres !</button>

                        </p>

                    </div>
                </div>
                <div class="card "
                     style="width: 30%; align-items: center;margin-bottom: 10px; text-decoration: none; color: black">
                    <h2>Pack
                        illimité </h2>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <p class="card-text">
                            <button class="btn btn-outline-success">Acheter pour afficher vos offres !</button>

                        </p>

                    </div>
                </div>
                <div class="card "
                     style="width: 30%; align-items: center;margin-bottom: 10px; text-decoration: none; color: black">
                    <h2>Pack sur mesure </h2>
                    <div class="card-body">
                        <p class="card-text"></p>
                        <p class="card-text">
                            <button class="btn btn-outline-success">Acheter pour afficher vos offres !</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
