{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <div class="container">
        <div class=" d-flex">
            {% for artiste in artiste.getOffre() %}
                
            {% endfor %}
        </div>
    </div>

{% endblock %}
