// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: darken(#428bca, 20%);
// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "./bootstrap";
@import "bootstrap-icons";
// 5. Add additional custom code here

body{
    background-color: #e5e4e4;
    font-weight: bold;
}
header{
    background-color: white;
    font-weight: bold;
}
.titre{
}
a:hover{
    cursor:pointer;
}
.container{
    max-width: 1310px;
}